
Códigos/FlappyBirds/efeitos/.DS_Store
Códigos/FlappyBirds/.vs/FlappyBirds/config/applicationhost.config
Códigos/FlappyBirds/.vs/FlappyBirds/v16/.suo
Códigos/FlappyBirds/.vs/VSWorkspaceState.json
Códigos/FlappyBirds/.vs/ProjectSettings.json
Códigos/FlappyBirds/.vs/slnx.sqlite
